
.var_num{
    text-align: right !important;
}

.ui.modal.tiny{
    left: 30%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0 4 0 / 65%);
    color: white;
    text-align: right;
    font-style: italic;
    font-size: 14px;
    padding: 2px;
    padding-right: 15px;
}

.footer a {
    color: #ffcc80;
    text-decoration: underline;
}

.forecast-term-span{
    padding-left: 20px!important;
}
.currency-symbol{
    text-align: right !important;
}