.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


.font-display p{
    color: white;
}
.font-display h4{
    color: white;
}
.progress{
    width: 75%;
}

.container.font-display {
    bottom: 100px;
    position: absolute;
    width: 75%;
    left: 150px;
}
